.heading
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3em;
    font-weight: bolder;
    font-style: normal;
    letter-spacing: 0.2em;
    color:white;
}
.operationtab
{
    display:inline-block;
}
